<%- include('../partials/headerworker'); -%>

	<!-- body-container -->
    <section class="container-medium ">
        <div class="home-wrap">
        <div class="banner-wrapper">
        <div class="banner-inner">
          <div class="banner-images"><img src="../assets/images/banner-images.png"/></div>
          <div class="banner-text">
            <h3>언택트 회의 프로그램의 정점
              MOONDAP</h3>
              <p>통제가  용이한 화면 공유 및 높은 의사와 정보 전달력을
                지닌 문답 서비스를 지금 바로 이용해보세요!</p>
          </div>
        </div>
        </div>
        <div class="top-area">
          <h3>지난 참여</h3>
            <div class="btn-group">
    
                <button class="primary-blue-button grey-outline" type="button">공유방 참가</button>
                <button class="primary-blue-button disabled" type="button">공유방 만들기</button>
              
          
            </div>
        </div>
        <div class="marketing-outer-active">
            <div class="marketing-outer-inner">
                <div class="marketing"><p>Marketing Coordinator</p></div>
                <ul>
                  <li><span class="participnat-pic"><img src="../assets/images/participant-pic.png" /></span> Ronald 외 10명</li>
                  <li><i class="icon-doc"></i>10</li>
                  <li class="date">2021.06.01</li>
                </ul>
              </div>
        </div>
    
        <div class="top-area">
            <h3>지난 참여</h3>
          
          </div>
    
    
        <div class="marketing-outer">
          <div class="marketing-outer-inner">
            <div class="marketing"><p>Marketing Coordinator</p></div>
            <ul>
              <li><span class="participnat-pic"><img src="../assets/images/participant-pic.png" /></span> Ronald 외 10명</li>
              <li><i class="icon-doc"></i>10</li>
              <li class="date">2021.06.01</li>
            </ul>
          </div>
    
          <div class="marketing-outer-inner">
            <div class="marketing"><p>Marketing Coordinator</p></div>
            <ul>
              <li><span class="participnat-pic"><img src="../assets/images/participant-pic.png" /></span> Ronald 외 10명</li>
              <li><i class="icon-doc"></i>10</li>
              <li class="date">2021.06.01</li>
            </ul>
          </div>
    
    
          <div class="marketing-outer-inner">
            <div class="marketing"><p>Marketing Coordinator</p></div>
            <ul>
              <li><span class="participnat-pic"><img src="../assets/images/participant-pic.png" /></span> Ronald 외 10명</li>
              <li><i class="icon-doc"></i>10</li>
              <li class="date">2021.06.01</li>
            </ul>
          </div>
    
    
          <div class="marketing-outer-inner">
            <div class="marketing"><p>Marketing Coordinator</p></div>
            <ul>
              <li><span class="participnat-pic"><img src="../assets/images/participant-pic.png" /></span> Ronald 외 10명</li>
              <li><i class="icon-doc"></i>10</li>
              <li class="date">2021.06.01</li>
            </ul>
          </div>
    
    
          <div class="marketing-outer-inner">
            <div class="marketing"><p>Marketing Coordinator</p></div>
            <ul>
              <li><span class="participnat-pic"><img src="../assets/images/participant-pic.png" /></span> Ronald 외 10명</li>
              <li><i class="icon-doc"></i>10</li>
              <li class="date">2021.06.01</li>
            </ul>
          </div>
    
        </div>
    
      </div>
    
    
      </section>
	<!-- body-container -->



	<%- include('../partials/footerworker'); -%>