<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- <link rel="shortcut icon" href="./../assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./../assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="16x16" href="./../assets/images/favicon-16x16.png"> -->
  
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="/dist/css/style.css">
</head>

<body>
    <!-- header -->
    <header>
      <div class="container-fluid header-wrap">
        <div class="manuLeft">
          <a href="javascript:void(0)"><img src="/assets/images/logo.svg" alt="Logo"></a>
        </div>
        <div class="manuRight">
          <!-- without login menu -->
          <a href="/logout" id="loginaa" class="loginMenu">Logout</a>
          <!-- /without login menu -->
          <!-- after login menu -->
          <a href="mydocs" class="myDoc menu-h"><i class="icon-doc"></i> 내 문서함</a>
          <div class="dropdown menu-h">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="profile-pic"><img src="/assets/images/default-dp.png"/></span>
            <span class="user-name"><%= email %></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="javascript:void(0)">개인정보 수정</a>
              <a class="dropdown-item" href="javascript:void(0)">로그아웃</a>
            </div>
          </div>
          <!-- /after login menu -->
        </div>
      </div>
    </header>
    <!-- /header -->