<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- <link rel="shortcut icon" href="./../assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./../assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="16x16" href="./../assets/images/favicon-16x16.png"> -->
  
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/fontawesome.min.css" integrity="sha512-Rcr1oG0XvqZI1yv1HIg9LgZVDEhf2AHjv+9AuD1JXWGLzlkoKDVvE925qySLcEywpMAYA/rkg296MkvqBF07Yw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom css -->
    <link rel="stylesheet" href="/dist/css/style.css">
</head>

<body onbeforeunload="doUnload()" onmousedown="somefunction()">
    <!-- header -->
    <header>
      <div class="container-fluid header-wrap">
        <div class="manuLeft">
          <a href="javascript:void(0)"><img src="/assets/images/logo.svg" alt="Logo"></a>
        </div>
        <div class="manuRight">
          <!-- without login menu -->
          <a href="/" id="loginaa" class="loginMenu">Login</a>
          <!-- /without login menu -->
          <!-- after login menu -->
          
          <!-- /after login menu -->
        </div>
      </div>
    </header>
    <!-- /header -->