<%- include('./partials/header'); -%>

  <!-- body-container -->
  <section class="container-small loginSectionWrap min-body">
    <div class="loginWrap">
      <div class="log-head">
        <h1 class="login-heading">비밀번호 찾기</h1>
        <p class="sub-heading">가입한 계정의 아이디와 이메일을 입력해주세요. <br/>
          정보가 맞다면 즉시 새로운 비밀번호를 설정할 수 있습니다.</p>
      </div>
      <form id="find_password" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>핸드폰 번호</label>
            <div class="input-group with-button">
            <!-- add "error" class to "form-control" to change border color -->
            <input class="form-control" type="text" placeholder="핸드폰 번호를 입력해주세요">
            <!-- <div class="timer"><p>3:00</p></div> -->
            <button class="small-grey-button">인증번호 전송</button>
            <!-- add "disabled" class to "button" -->
            </div>
            <!-- <span class="red-text">올바른 핸드폰 번호를 입력해주세요.</span> -->
        </div>
        
        <div class="main-btn-group">
            <button class="primary-blue-button" type="submit">새로운 비밀번호 설정</button>
        </div>
    </form>
      <a href="/set-password" id="set_password"></a>
    </div>
  </section>
  <!-- body-container -->

<%- include('./partials/footer'); -%>