<%- include('./partials/header'); -%>

  <!-- body-container -->
  <section class="container-small loginSectionWrap min-body">
    <div class="loginWrap">
      <div class="log-head">
        <h1 class="login-heading">새로운 비밀번호 설정</h1>
        <p class="sub-heading">새로운 비밀번호를 입력해주세요.</p>
      </div>
      <div class="form-group">
        <label>새로운 비밀번호</label>
        <div class="input-group with-two-input">
          <input class="form-control" type="text" placeholder="영문/숫자/특수문자 포함 8자 이상 16자 미만">
          <!-- <span class="red-text">올바른 비밀번호를 입력해주세요.</span> -->
        </div>
        <div class="input-group with-two-input">
          <input class="form-control" type="text" placeholder="한 번 더 입력해주세요">
          <!-- <span class="red-text">비밀번호가 일치하지 않습니다.</span> -->
        </div>
        
      </div>
      
      <div class="main-btn-group">
        <button class="primary-blue-button" type="button">설정 완료</button>
      </div>
      
    </div>
  </section>
  <!-- body-container -->

<%- include('./partials/footer'); -%>