<%- include('./partials/header'); -%>

  <!-- body-container -->
  <section class="container-small loginSectionWrap min-body">
    <div class="loginWrap">
      <div class="log-head">
        <h1 class="login-heading">로그인없이 입장</h1>
        <p class="sub-heading">로그인없이 입장하기위해 닉네임을 입력해주세요.
            로그인없이 입장시 참여했던 공유방의 기록은 남지 않습니다.</p>
      </div>
      <div class="form-group">
        <label>닉네임</label>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="닉네임을 입력해주세요">
          <!-- <span class="red-text">올바른 비밀번호를 입력해주세요.</span> -->
        </div>
    
      </div>
      
      <div class="main-btn-group">
        <button class="primary-blue-button" type="button">입장하기</button>
      </div>
      
    </div>
  </section>
  <!-- body-container -->

<%- include('./partials/footer'); -%>